@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO List</h1>
    <p class="lead">This is a short project given from DSi</p>
    <p><a href="#" class="btn btn-primary btn-lg">Git Repo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            This project is based on ASP.Net 5. MVC and Entity frameworke have been used. 
            Here I am the user I can save a contact and DO CRUD. I can add a TODO list and I can do Modification here also.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Some Talk from my end</h2>
        <p> I am uising testing for creating my main two Model User and Todo List.I have used unit testing for test my project. </p>
    </div>

</div>